@import "./config/variables.scss";
@import "./config/media_queries.scss";
@import "./config/helpers.scss";
@import "./modules/cards.scss";

html {
  box-sizing: border-box;
  font-family: sans-serif;
  height: 100%;
  line-height: 1.5;
}

// http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: #ecf0f1;
  color: #5f5f5f;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
  display: inline-block;
  padding: 10px;
  cursor: pointer;
  -webkit-transition: all ease-in-out 300ms;
  transition: all ease 300ms;
}

li.active {
  background-color: $product-secondary;

  a {
    color: #fff;
  }
}

li:not(.active):hover {
  background-color: #000;
}

h4 {
  margin-bottom: 20px;
}

#main {
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;

  .menu {
    background-color: $product-primary;
    color: #fff;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
    height: 60px;
    min-height: 60px;

    ul {
      font-size: 0;

      li {
        font-size: 14px;
        text-transform: uppercase;
        padding: 20px 15px;
        min-height: 60px;

        a {
          color: #fff;

          &:link, &:visited, &:hover, &:active {
            color: #fff;
            text-decoration: none;          
          }
        }
      }
    }
  }

  .content {
    padding: 20px;
    position: absolute;
    overflow: auto;
    bottom: 60px;
    top: 60px;
    width: 100%;
    box-sizing: border-box;
  }

  .footer {
    position: fixed;
    bottom: 0;
    padding: 10px;
    background: #FFF;
    width: 100%;
    text-align: center;
    font-size: 12px;
    min-height: 40px;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.1);
    min-height: 60px;
  }
}