.dashboard {
	padding: 0px;
}

.dashboard i {
	margin-right: 10px;
}

.dashboard .row {
	margin-right: -15px;
  margin-left: -15px;
}

.dashboard .row > div {
}

.dashboard .item {
	padding: 2px 0px;
}

.dashboard .item .category {
	padding: 2px 10px;
  font-size: 12px;
}